* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}
a:hover {
	text-decoration: none;
}
.p-o {
	padding: 0px;
}
body{
	background:#FFF;
}
.container-fluid {
	margin: auto;
	padding: 0px;
	width: 100%;
	max-width: 1920px;
}
.container{
	width:100%;
	max-width:1750px;
	padding:0px 5%;
}
@media (max-width:1200px){
.container{
	width:100%;
	padding:0px 15px;
}
}

h1{
	font-size:60px;
}
@media (max-width:1600px){
h1{
	font-size:50px;
}
}
@media (max-width:1450px){
h1{
	font-size:40px;
}
}
@media (max-width:1200px){
h1{
	font-size:35px;
}
}
@media (max-width:768px){
h1{
	font-size:30px;
}
}
@media (max-width:600px){
h1{
	font-size:25px;
}
}
@media (max-width:414px){
h1{
	font-size:22px;
}
}
/***### Header ###***/

#header {
	padding:15px 0px;
	box-shadow:0px 0px 4px 0px rgba(0,0,0,0.5);
	position:relative;
	z-index:100;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background:#fff;
}

.navbar-default {
	background:#fff;
	min-height:90px;
	border:none;
	border-radius:0px;
	margin:0px;
}

.navbar-brand {
	height:90px;
	padding:2px 15px;
}

.navbar-brand img {
	display:inline-block;
	max-width:90px;
}

.navbar-right {
	margin-right:0px;
}

.navbar-nav>li {
	margin-top:20px;
}

.navbar-nav>li>a {
	color:#fff;
}

.navbar-default .navbar-nav>li>a {
	color:#171717;
	font-size:17px;
	font-weight:300;
	font-family: 'Poppins', sans-serif;
	border-radius:3px;
	padding:13px 15px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ccc;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a.eng {
	color:#5e5e5e;
	background:#dadada;
	font-family: 'Poppins', sans-serif;
}

#header .dropdown-menu {
	padding:0px;
}

#header .dropdown-menu>li>a {
	padding:11px 17px;
}

#header .dropdown-menu>li>a>img {
	margin-right:5px;
}
@media only screen and (min-width: 767px) {
.navbar-default .navbar-nav>li.dropdown:hover>.dropdown-menu {
	display:block;
}
}
/****End Navigation*****/
.top_block{
	margin-top:125px;
}
@media (max-width:1600px){
.top_block{
	margin-top:108px;
}
}
@media (max-width:1450px){
.top_block{
	margin-top:100px;
}
}
@media (max-width:1200px){
.top_block{
	margin-top:99px;
}
}
@media (max-width:991px){
.top_block{
	margin-top:95px;
}
}
/***### Section 1 ###***/
.section1{
	position:relative;
	background:#FFF;
	padding:75px 0px;
	text-align:center;
}
.section1-left{
	position:relative;
	padding:50px 0px 0px 0px;
	text-align:left;
}
.section1-left h2{
	font-size:48px;
	font-weight:300;
	color:#262626;
	margin:0px;
	padding:0px;
	text-align:left;
}
.section1-left h3{
	font-size:100px;
	font-weight:700;
	color:#262626;
	margin:0px;
	padding:0px;
	text-align:left;
}
.section1-left h3 span{
	color:#002d42;
}
.section1-left p{
	color:#7d7d7d;
	font-weight:300;
	margin:0px;
	padding:0px;
	text-align:left;
	font-size:30px;
}
.section1-left .top-btn{
	position:relative;
	width:100%;
	text-align:right;
	margin-top:50px;
}
.section1-left .top-btn button{
	display:inline-block;
	vertical-align:top;
	background:#002d42;
	padding:12px 50px;
	border-radius:50px;
	color:#FFF;
	font-weight:500;
	font-size:30px;
	outline:none;
	border:none;
}
.section1-right{
	position:relative;
	text-align:center;
}
.section1-right img{
	width:40%;
	max-width:343px;
	display:inline-block;
	vertical-align:top;
}
@media (max-width:1600px){
.section1-left h2{
	font-size:42px;
}
.section1-left h3{
	font-size:80px;
}
.section1-left p{
	font-size:27px;
}
.section1-left .top-btn button{
	font-size:27px;
}
}
@media (max-width:1450px){
.section1-left h2{
	font-size:35px;
}
.section1-left h3{
	font-size:60px;
}
.section1-left p{
	font-size:22px;
}
.section1-left .top-btn button{
	font-size:22px;
}
}
@media (max-width:1200px){
.section1-left{
	padding:30px 0px 0px 0px;
}
.section1-left h2{
	font-size:30px;
}
.section1-left h3{
	font-size:50px;
}
.section1-left p{
	font-size:20px;
}
.section1-left .top-btn button{
	font-size:20px;
}
}
@media (max-width:1024px){
.section1-left{
	padding:10px 0px 0px 0px;
}
.section1-left h2{
	font-size:30px;
}
.section1-left h3{
	font-size:50px;
}
.section1-left p{
	font-size:20px;
}
.section1-left .top-btn button{
	font-size:20px;
}
}
@media (max-width:767px){
.section1{
	padding:50px 0px;
}
.section1-left{
	padding:0px 0px 30px 0px;
}
.section1-left h2{
	font-size:30px;
}
.section1-left h3{
	font-size:50px;
}
.section1-left p{
	font-size:20px;
}
.section1-left .top-btn{
	margin-top:20px;
}
.section1-left .top-btn button{
	font-size:20px;
}
}
@media (max-width:600px){
.section1{
	padding:50px 0px;
}
.section1-left{
	padding:0px 0px 30px 0px;
}
.section1-left h2{
	font-size:25px;
}
.section1-left h3{
	font-size:40px;
}
.section1-left p{
	font-size:18px;
}
.section1-left .top-btn button{
	font-size:18px;
}
}
/***### Section 2 ###***/
.section2{
	position:relative;
	background:#002d42;
	padding:20px 0px;
	text-align:center;
}
.section2-iner{
	position:relative;
}
.section2 p{
	color:#FFF;
	display:inline-block;
	vertical-align:middle;
	vertical-align:middle;
	font-size:40px;
	font-weight:500;
	margin:10px 3%;
	padding:0px;
}
.section2 .envelop{
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
	padding:10px 15px;
	text-align:center;
	background:#ffffff;
	border-radius:5px;
	color:#002d42;
	font-size:35px;
	font-weight:400;
}
@media (max-width:1600px){
.section2 p{
	font-size:35px;
}
.section2 .envelop{
	font-size:30px;
}
}
@media (max-width:1450px){
.section2 p{
	font-size:28px;
}
.section2 .envelop{
	font-size:23px;
}
}
@media (max-width:1200px){
.section2 p{
	font-size:25px;
}
.section2 .envelop{
	font-size:20px;
}
}
@media (max-width:1024px){
.section2 p{
	font-size:20px;
}
.section2 .envelop{
	font-size:18px;
}
}
@media (max-width:600px){
.section2 p{
	font-size:18px;
}
.section2 .envelop{
	font-size:15px;
}
}
/***### Section 3 ###***/
.section3{
	position:relative;
	padding:75px 0px;
	clear:both;
	background:#ffffff;
}
.section3-left{
	position:relative;
	text-align:center;
	padding-top:100px;
}
.section3-left img{
	max-width:546px;
	width:100%;
	display:inline-block;
	vertical-align:top;
}
.section3-right{
	position:relative;
	text-align:center;
	padding:0px 0px 0px 50px;
}
.section3-right h1{
	text-align:left;
	color:#002d42;
	padding:25px 0px;
	margin:0px;
	font-weight:700;
	text-transform:uppercase;
}
.section3 h1 span{
	font-weight:300;
}
.timeline-vertcal {
	position: relative;
	padding:0px;
	padding: 50px 0px 0px 15px;
	clear: both;
}
.timeline-vertcal ul {
	position: relative;
	text-align: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: relative;
}
.timeline-vertcal li {
	float:left;
	line-height:normal;
	width: 100%;
	padding: 0px 0px 20px 30px;
	text-align: left;
	border-left: 5px solid #b4b4b5;
	position: relative;
	color: #282828;
	font-size: 41px;
	font-weight: 300;
}
.timeline-vertcal li .span{
	font-weight:700;
}
.timeline-vertcal li:last-child{
	border-left-color:transparent;
}
.timeline-text{
	position:relative;
	width:100%;
	display:block;
	padding-bottom:20px;
	min-height:60px;
	border-bottom:1px solid #b4b4b5;
}
.timeline-vertcal .dot-wrap {
	position:relative;
	background:#FFF;
	height:50px;
	position: absolute;
	left: -18px;
	text-align: center;
	line-height:50px;
}
.timeline-vertcal .dot-box {
	width: 30px;
	height: 30px;
	display:inline-block;
	vertical-align:middle;
	line-height: 30px;
	border-radius: 50%;
	background: #002d42;
}
@media (max-width:1600px){
.timeline-vertcal li{
	font-size:35px;
}
}
@media (max-width:1450px){
.timeline-vertcal li{
	font-size:30px;
}
.timeline-vertcal .dot-wrap {
	left: -15px;
}
.timeline-vertcal .dot-box {
	width: 25px;
	height: 25px;
}
}
@media (max-width:1200px){
.timeline-vertcal li{
	font-size:26px;
}
}
@media (max-width:1024px){
.timeline-vertcal .dot-wrap {
	left: -13px;
}
.timeline-vertcal .dot-wrap{
	line-height:35px;
	height:35px;
}
.timeline-vertcal .dot-box {
	width: 20px;
	height: 20px;
}
.timeline-vertcal li{
	font-size:20px;
}
.timeline-text{
	min-height:40px;
}
}
@media (max-width:800px){
.timeline-vertcal .dot-wrap{
	line-height:27px;
	height:27px;
}
.timeline-vertcal li{
	font-size:18px;
}
}
@media (max-width:767px){
.section3{
	padding:50px 0px;
}
.section3-left{
	padding:0px 0px 50px 0px;
	text-align:center;
}
.section3-left img{
	max-width:300px;
}
.section3-right{
	padding:0px;
}
}
/****End vErtical Time line ****/
/***### Section 4 ###***/
.section4{
	background:#FFF;
	position:relative;
	clear:both;
	padding:50px 0px 75px 0px;
}
.section4 h1{
	text-align:center;
	color:#002d42;
	padding:25px 0px;
	margin:0px;
	font-weight:700;
	text-transform:uppercase;
}
.section4 h1 span{
	font-weight:300;
}
.section4-left{
	position:relative;
	text-align:center;
	padding-top:50px;
}
.section4-left img{
	display:inline-block;
	vertical-align:middle;
	max-width:450px;
	width:100%;
}
.section4-right{
	position:relative;
	padding:40px 0px 0px 0px;
}
.section4-right h2{
	color:#002d42;
	font-weight:600;
	font-size:29px;
	margin:0px;
	padding:10px 0px;
}
.section4-right ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.section4-right li{
	position:relative;
	display:inline-block;
	vertical-align:top;
	width:100%;
	padding:10px 0px 10px 25px;
	background-size:30px;
	color:#868686;
	font-size:29px;
	font-weight:300;
	font-style:italic;
}
.section4-right li:before {
    position: absolute;
    font-family: 'FontAwesome';
    top: 7px;
	font-size:35px;
    left: 0px;
	color:#282827;
    content: "\f105";
	font-style:normal;
	font-weight:bold;
}
@media (max-width:1600px){
.section4-right h2{
	font-size:25px;
}
.section4-right li{
	font-size:25px;
}
.section4-right li:before {
    top: 5px;
	font-size:32px;
}
}
@media (max-width:1450px){
.section4-right h2{
	font-size:19px;
}
.section4-right li{
	font-size:19px;
}
.section4-right li:before {
    top: 2px;
	font-size:30px;
}
}
@media (max-width:1200px){
.section4-right h2{
	font-size:17px;
}
.section4-right li{
	font-size:17px;
}
}
@media (max-width:1024px){
.section4-right li:before{
	top:2px;
	font-size:25px;
}
.section4-right h2{
	font-size:15px;
}
.section4-right li{
	font-size:15px;
}
}
@media (max-width:767px){
.section4{
	padding:50px 0px;
}
.section4 .pull-right{
	width:100%;
	float:none;
}
}
/***### Section 5 ###***/
.section5{
	position:relative;
	clear:both;
	background:#FFF;
	padding:50px 15px 0px 15px;
}
.section5 h1{
	text-align:center;
	color:#282827;
	padding:25px 0px;
	margin:0px;
	font-weight:700;
	text-transform:uppercase;
}
.section5 h1 span{
	font-weight:300;
}
.section5-iner{
	padding:50px 0px;
	position:relative;
}
.section5-iner h3{
	color:#002d42;
	font-size:41px;
	font-weight:500;
	position:relative;
}
.section5-iner p{23
	color:#636464;
	font-size:29px;
	font-weight:300;
	margin:0px;
	padding:0px;
}
.section5-box{
	position:relative;
	width:100%;
	border-radius:5px;
	border:1px solid #d2d0cf;
	padding:20px 0px;
	-webkit-box-shadow: 0px 0px 7px 3px rgba(210,208,207,1);
	-moz-box-shadow: 0px 0px 7px 3px rgba(210,208,207,1);
	box-shadow: 0px 0px 7px 3px rgba(210,208,207,1);
	margin-bottom:15%;
}
.section5-box .icon-cir{
	position:absolute;
	top:-25px;
	right:-25px;
	height:50px;
	width:50px;
	background:#002d42;
	line-height:50px;
	border-radius:50%;
	text-align:center;
}
.section5-box  .icon-cir-sec{
	right:auto;
	left:-25px;
}
.section5-box .icon-cir img{
	display:inline-block;
	vertical-align:middle;
	max-width:35%;
}
.section5-box h3{
	position:relative;
	padding:0px 0px 0px 30px;
}
.section5-box h3:before{
	position:absolute;
	left:0px;
	top:5px;
	content:"";
	height:25px;
	width:5px;
	background:#002d42;
}
.section5-box p{
	position:relative;
	padding:15px 5% 20px 35px;
}
.sec5-box-right{
	padding:20px 25px;
}
.sec5-box-right h3{
	padding:0px 0px 0px 15px;
}
.sec5-box-right p{
	padding:0px 0px 0px 20px;
}
.arow1-sec5{
	position:absolute;
	right:-47%;
	width:47%;
}
.arow1-sec5 img{
	width:100%;
	margin-left:15px;
	display:inline-block;
	max-width:400px;
}
.arow2-sec5{
	position:absolute;
	left:-49%;
	width:47%;
}
.arow2-sec5 img{
	width:100%;
	margin-right:15px;
	display:inline-block;
	max-width:400px;
}
.sec5-box1{
	bottom:-40%;
}
.sec5-box2{
	bottom:-30%;
}
.sec5-box3{
	bottom:-45%;
}
.sec5-box4{
	bottom:-50%;
}
.sec5-box5{
	bottom:-30%;
}
.sec5-box6{
	bottom:-42%;
}
.sec5-box7{
	bottom:-53%;
}
@media (max-width:1600px){
.section5-iner h3{
	font-size:35px;
}
.section5-iner p{
	font-size:25px;
}
}
@media (max-width:1450px){
.section5-iner h3{
	font-size:30px;
}
.section5-iner p{
	font-size:19px;
}
}
@media (max-width:1200px){
.section5-iner h3{
	font-size:26px;
}
.section5-iner p{
	font-size:17px;
}
}
@media (max-width:1024px){
.section5-iner h3{
	font-size:22px;
}
.section5-iner p{
	font-size:15px;
}
}
@media (max-width:991px){
.sec5-box1{
	bottom:-30%;
}
.sec5-box2{
	bottom:-20%;
}
.sec5-box3{
	bottom:-35%;
}
.sec5-box4{
	bottom:-35%;
}
.sec5-box5{
	bottom:-20%;
}
.sec5-box6{
	bottom:-32%;
}
.sec5-box7{
	bottom:-30%;
}
}
@media (max-width:800px){
.sec5-box1{
	bottom:-25%;
}
.sec5-box2{
	bottom:-15%;
}
.sec5-box3{
	bottom:-30%;
}
.sec5-box4{
	bottom:-30%;
}
.sec5-box5{
	bottom:-15%;
}
.sec5-box6{
	bottom:-27%;
}
.sec5-box7{
	bottom:-20%;
}
}
@media (max-width:767px){
.arow1-sec5{
	display:none;
}
.arow2-sec5{
	display:none;
}
.section5-box .icon-cir-sec{
	left:0px;
}
.section5-box .icon-cir{
	left:0px;
	right:auto;
}
}
/***### Section 6 ###***/
.section6{
	background:#002d42;
	position:relative;
	clear:both;
	padding:50px 0px 75px 0px;
}
.section6 h1{
	text-align:center;
	color:#FFF;
	padding:25px 0px;
	margin:0px;
	font-weight:700;
	text-transform:uppercase;
}
.section6 h1 span{
	font-weight:300;
}
.section6-left{
	position:relative;
	text-align:center;
	padding-top:50px;
}
.section6-left img{
	display:inline-block;
	vertical-align:middle;
	max-width:230px;
	width:100%;
}
.section6-right{
	position:relative;
	padding:40px 0px 0px 0px;
}
.section6-right h2{
	color:#FFF;
	font-weight:600;
	font-size:29px;
	margin:0px;
	padding:10px 0px;
}
.section6-right ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.section6-right li{
	position:relative;
	display:inline-block;
	vertical-align:top;
	width:100%;
	padding:10px 0px 10px 25px;
	background-size:30px;
	color:#ffffff;
	font-size:29px;
	font-weight:300;
	font-style:italic;
}
.section6-right li:before {
    position: absolute;
    font-family: 'FontAwesome';
    top: 4px;
	font-size:35px;
    left: 0px;
	color:#071d28;
    content: "\f105";
	font-style:normal;
}
@media (max-width:1600px){
.section6-right h2{
	font-size:25px;
}
.section6-right li{
	font-size:25px;
}
.section6-right li:before {
    top: 5px;
	font-size:32px;
}
}
@media (max-width:1450px){
.section6-right h2{
	font-size:19px;
}
.section6-right li{
	font-size:19px;
}
.section6-right li:before {
    top: 2px;
	font-size:30px;
}
}
@media (max-width:1200px){
.section6-right h2{
	font-size:17px;
}
.section6-right li{
	font-size:17px;
}
}
@media (max-width:1024px){
.section6-right li:before{
	top:2px;
	font-size:25px;
}
.section6-right h2{
	font-size:15px;
}
.section6-right li{
	font-size:15px;
}
}
@media (max-width:767px){
.section6{
	padding:50px 0px;
}
}
/***### Section 7 ###***/
.section7{
	position:relative;
	clear:both;
	background:#FFF;
	padding:50px 0px 75px 0px;
}
.section7 h1{
	text-align:center;
	color:#282827;
	padding:25px 0px;
	margin:0px;
	font-weight:700;
	text-transform:uppercase;
}
.section7 h1 span{
	font-weight:300;
}
.section7-left{
	position:relative;
	text-align:center;
	padding:50px 0px 0px 0px;
}
.section7-left img{
	display:inline-block;
	vertical-align:top;
	max-width:814px;
	width:100%;
}
.section7-right{
	position:relative;
	padding:50px 0px 0px 30px;
}
.section7-right ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.section7-right li{
	display:inline-block;
	vertical-align:top;
	width:100%;
	padding:10px 0px 10px 45px;
	background:url(../images/map-bg.png) no-repeat left center;
	background-size:30px;
	color:#282828;
	font-size:35px;
	font-weight:300;
}
@media (max-width:1600px){
.section7-right li{
	font-size:30px;
	background-size:27px;
	padding:10px 0px 10px 40px;
}
}
@media (max-width:1450px){
.section7-right li{
	font-size:25px;
	background-size:25px;
}
}
@media (max-width:1200px){
.section7-right li{
	font-size:20px;
}
}
@media (max-width:991px){
.section7-right li{
	font-size:17px;
}
.navbar-nav {text-align: center}
#header .dropdown-menu {text-align: center}
}
@media (max-width:767px){
.section7-right{
	padding:50px 0px;
}
}
/***### Footer ###***/
footer{
	background:#282827;
	position:relative;
	text-align:center;
	padding:0px;
}
footer p{
	color:#ffffff;
	font-size:25px;
	font-weight:300;
	margin:0px;
	padding:30px 0px;
	text-align:center;
}
@media (max-width:1600px){
footer p{
	padding:25px 0px;
	font-size:23px;
}
}
@media (max-width:1450px){
footer p{
	padding:20px 0px;
	font-size:20px;
}
}
@media (max-width:1024px){
footer p{
	font-size:18px;
}
}
@media (max-width:767px){
footer p{
	padding:15px 0px;
	font-size:15px;
}

.section1-left .top-btn {text-align: center}

}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: white;
}
.navbar-default .navbar-toggle {top:22px;}

