* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}
a:hover {
	text-decoration: none;
}
.p-o {
	padding: 0px;
}
body{
	background:#FFF;
}
.container-fluid {
	margin: auto;
	padding: 0px;
	width: 100%;
	max-width: 1920px;
}
.container{
	width:100%;
	max-width:1750px;
	padding:0px 5%;
}
@media (max-width:1200px){
.container{
	width:100%;
	padding:0px 15px;
}
}
h1{
	font-size:60px;
}
@media (max-width:1600px){
h1{
	font-size:50px;
}
}
@media (max-width:1450px){
h1{
	font-size:40px;
}
}
@media (max-width:1200px){
h1{
	font-size:35px;
}
}
@media (max-width:768px){
h1{
	font-size:30px;
}
}
@media (max-width:600px){
h1{
	font-size:25px;
}
}
@media (max-width:414px){
h1{
	font-size:22px;
}
}
/***### Top Bars ###***/
.top_bar{
	position:relative;
	background:#f0f0f0;
	padding:20px 0px;
	margin:40px 0px 0px 0px;
	text-align:left;
}
.top_bar ul{
	margin:0px;
	padding:0px;
	list-style:none;
	text-align:left;
}
.top_bar li{
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
	color:#282828;
	font-size:25px;
	font-weight:300;
}
.top_bar a {
	text-decoration:none;
	outline:none;
	color:#282828;
}
@media (max-width:1600px){
.top_bar li{
	font-size:21px;
}
}
@media (max-width:1450px){
.top_bar li{
	font-size:19px;
}
}
@media (max-width:1200px){
.top_bar li{
	font-size:17px;
}
}
@media (max-width:1024px){
.top_bar li{
	font-size:15px;
}
}
/***### Product Description ###***/
.product_description{
	position:relative;
	padding:50px 0px;
	background:#FFF;
}
.product_tab{
	position:relative;
}
.product_tab .main-img{
	background:#f0f0f0;
	text-align:center;
	line-height:600px;
	width:100%;
	position:relative;
	padding:0px 10%;
}
.product_tab .main-img .stretch{
	position:absolute;
	bottom:15px;
	right:15px;
	line-height:normal;
}
.product_tab .main-img img{
	max-width:500px;
	width:80%;
	display:inline-block;
	vertical-align:middle;
}
.product_tab .nav_tab{
	position:relative;
	padding:15px 0px;
}
.product_tab .nav_tab ul{
	margin:0px;
	padding:0px;
	text-align:left;
	list-style:none;
}
.product_tab .nav_tab  li{
	background:#f0f0f0;
	width:23.5%;
	float:left;
	margin-right:2%;
	padding:30px;
	text-align:center;
}
.product_tab .nav_tab  li img{
	width:100%;
	max-width:150px;
	display:inline-block;
	vertical-align:middle;
}
.product_tab .nav_tab  li:last-child{
	margin-right:0px;
}
li.un_act_prod img{
	opacity:0.6;
}
.prod_right_des{
	position:relative;
	padding:50px 0px;
	text-align:left;
}
.prod_right_des h2{
	color:#282828;
	font-size:50px;
	font-weight:600;
	margin:0px;
	padding:0px;
	text-align:left;
}
.prod_right_des .box-one{
	padding:20px 0px;
	text-align:left;
	position:relative;
	clear:both;
}
.prod_right_des .box-one p{
	font-size:27px;
	font-weight:400;
	margin:0px;
	color:#7a7a7a;
	padding:0px;
	display:inline-block;
	vertical-align:middle;
	margin-right:30px;
}
.prod_right_des .box-one .span{
	color:#282828;
}
.prod_right_des .box-two{
	padding:10px 0px;
	text-align:left;
	position:relative;
	clear:both;
}
.prod_right_des .box-two ul{
	margin:0px;
	padding:0px;
	list-style:none;
	text-align:left;
}
.prod_right_des .box-two li{
	display:inline-block;
	vertical-align:middle;
	color:#2196f3;
}
.prod_right_des .box-two li .stars{
	color:#ffe07b;
}
.prod_right_des .box-two a{
	text-decoration:none;
	outline:none;
	color:#2196f3;
	font-size:25px;
	font-weight:400;
}
.prod_right_des .box-three{
	padding:10px 0px;
	text-align:left;
	position:relative;
	clear:both;
}
.prod_right_des .box-three p{
	font-size:27px;
	font-weight:300;
	color:#777777;
	padding:10px 0px;
	text-align:left;
	margin:0px;
}
.prod_right_des .box-foure{
	padding:10px 0px;
	text-align:left;
	position:relative;
	clear:both;
}
.prod_right_des .box-foure p{
	color:#2196f3;
	font-size:60px;
	font-weight:600;
	margin:0px;
	padding:0px;
}
.prod_right_des .box-foure p .span1{
	color:#282828;
	font-size:38px;
	text-decoration:line-through;
	font-weight:300;
}
.prod_right_des .box-foure p .span2{
	color:#282828;
	font-size:30px;
	font-weight:300;
}
.prod_right_des  .box-five{
	position:relative;
	clear:both;
	width:100%;
	line-height:50px;
}
.prod_right_des  .box-five p{
	color:#282828;
	font-size:25px;
	font-weight:500;
	margin:0px;
	padding:0px;
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
}
.prod_right_des  .box-five .colors{
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
	margin:0px 20px;
}
.prod_right_des  .box-five .colors a{
	display:inline-block;
	vertical-align:middle;
	margin-right:3px;
	outline:none;
}
.prod_right_des  .box-five .colors a img{
	display:inline-block;
	vertical-align:middle;
}
.prod_right_des  .box-five button{
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
	height:40px;
	background:#cbcbcb;
	color:#282828;
	font-weight:300;
	font-size:18px;
	text-align:center;
	margin-right:5px;
	border:none;
	padding:0px 15px;
}
.prod_right_des  .box-five button.active{
	color:#FFF;
	background:#2196f3;
}
.prod_right_des .box-six{
	position:relative;
	padding:10px 0px;
	text-align:left;
	clear:both;
	width:100%;
}
.prod_right_des .box-six p{
	margin:0px;
	padding:0px 0px 20px 0px;
	text-align:left;
	color:#282828;
	font-size:25px;
}
.prod_right_des .box-six p span{
	color:#2196f3;
}
.prod_right_des .counter{
	position:relative;
	display:inline-block;
	vertical-align:top;
}
.prod_right_des .counter ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.prod_right_des .counter li{
	float:left;
	line-height:70px;
	text-align:center;
	padding:0px 15px;
	background:#e1e1e1;
	font-weight:300;
	font-size:27px;
	color:#7e7e7e;
}
.prod_right_des .counter li:nth-child(2){
	padding:0px 25px;
	background:#FFF;
	color:#282828;
	font-weight:600;
}
.prod_right_des .btns{
	display:inline-block;
	vertical-align:middle;
	margin-left:10%;
	text-align:left;
}
.prod_right_des .btns button{
	height:70px;
	padding:0px 25px;
	text-align:center;
	outline:none;
	font-size:27px;
	font-weight:500;
	margin-right:10px;
	border:1px solid;
	text-transform:uppercase;
}
.prod_right_des .btns button.heart{
	border-color:#f0f0f0;
	background:#f0f0f0;
	color:#282828;
}
.prod_right_des .btns button.carts{
	border-color:#2196f3;
	background:#2196f3;
	color:#FFF;
}
@media (max-width:1600px){
.product_tab .main-img{
	line-height:550px;
}
.prod_right_des h2{
	font-size:40px;
}
.prod_right_des .box-one p{
	font-size:25px;
}
.prod_right_des .box-two a{
	font-size:23px;
}
.prod_right_des .box-three p{
	font-size:25px;
}
.prod_right_des .box-foure p{
	font-size:50px;
}
.prod_right_des .box-foure p .span1{
	font-size:33px;
}
.prod_right_des .box-foure p .span2{
	font-size:26px;
}
.prod_right_des  .box-five p{
	font-size:23px;
}
.prod_right_des  .box-five button{
	font-size:16px;
}
.prod_right_des .box-six p{
	font-size:23px;
}
.prod_right_des .counter li{
	font-size:25px;
}
.prod_right_des .btns button{
	font-size:25px;
}
}
@media (max-width:1450px){
.product_tab .main-img{
	line-height:500px;
}
.prod_right_des h2{
	font-size:30px;
}
.prod_right_des .box-one p{
	font-size:21px;
}
.prod_right_des .box-two a{
	font-size:20px;
}
.prod_right_des .box-three p{
	font-size:21px;
}
.prod_right_des .box-foure p{
	font-size:40px;
}
.prod_right_des .box-foure p .span1{
	font-size:27px;
}
.prod_right_des .box-foure p .span2{
	font-size:21px;
}
.prod_right_des  .box-five p{
	font-size:20px;
}
.prod_right_des .box-five .colors{
	margin:0px 10px;
}
.prod_right_des  .box-five button{
	font-size:14px;
}
.prod_right_des .box-six p{
	font-size:22px;
}
.prod_right_des .counter li{
	font-size:22px;
}
.prod_right_des .btns button{
	font-size:22px;
}
}

@media (max-width:1200px){
.product_tab .main-img{
	line-height:450px;
}
.prod_right_des h2{
	font-size:25px;
}
.prod_right_des .box-one p{
	font-size:19px;
}
.prod_right_des .box-two a{
	font-size:17px;
}
.prod_right_des .box-three p{
	font-size:19px;
}
.prod_right_des .box-foure p{
	font-size:35px;
}
.prod_right_des .box-foure p .span1{
	font-size:23px;
}
.prod_right_des .box-foure p .span2{
	font-size:18px;
}
.prod_right_des  .box-five p{
	font-size:17px;
}
.prod_right_des  .box-five button{
	font-size:14px;
}
.prod_right_des .box-six p{
	font-size:19px;
}
.prod_right_des .counter li{
	font-size:19px;
}
.prod_right_des .btns button{
	font-size:19px;
}
}
@media (max-width:1140px){
.prod_right_des .box-one{
	padding:10px 0px;
}
.prod_right_des .box-one{
	padding:0px 0px 10px 0px;
}
.product_tab .main-img{
	line-height:400px;
}
.prod_right_des h2{
	font-size:22px;
}
.prod_right_des .box-one p{
	font-size:17px;
}
.prod_right_des .box-two a{
	font-size:15px;
}
.prod_right_des .box-three p{
	font-size:17px;
}
.prod_right_des .box-foure p{
	font-size:30px;
}
.prod_right_des .box-foure p .span1{
	font-size:20px;
}
.prod_right_des .box-foure p .span2{
	font-size:16px;
}
.prod_right_des  .box-five p{
	font-size:15px;
}
.prod_right_des  .box-five button{
	font-size:12px;
}
.prod_right_des .box-six p{
	font-size:17px;
}
.prod_right_des .counter li{
	font-size:17px;
}
.prod_right_des .btns button{
	font-size:17px;
}
.prod_right_des .box-five .colors a img{
	width:20px;
}
}
@media (max-width:991px){
.product_tab .main-img img{
	width:100%;
	max-width:400px;
	padding:50px 0px;
}
.prod_right_des{
	float:left;
	width:100%;
}
}
@media (max-width:600px){
.prod_right_des .btns button{
	height:50px;
	padding:0px 20px;
	font-size:15px;
}
.prod_right_des .counter li{
	line-height:50px;
}
.product_tab .nav_tab  li{
	padding:20px;
}
}
@media (max-width:480px){
.prod_right_des .counter{
	width:100%;
	text-align:center;
}
.prod_right_des .counter ul{
	text-align:center;
	width:100%;
}
.prod_right_des .counter li{
	float:none;
	display:inline-block;
	vertical-align:top;
}
.prod_right_des .btns{
	margin:0px;
	width:100%;
	text-align:center;
	margin-top:15px;
}
.box-five .colors-btn{
	width:100%;
	text-align:center;
}
.prod_right_des .box-five button{
	padding:0px 10px;
	margin:0px;
}
.product_tab .nav_tab  li{
	padding:10px;
}
}
/***### Section 2 ###***/
.section2{
	position:relative;
	background:#282828;
	padding:20px 0px;
	text-align:center;
}
.section2-iner{
	position:relative;
}
.section2 p{
	color:#2196f3;
	display:inline-block;
	vertical-align:middle;
	vertical-align:middle;
	font-size:40px;
	font-weight:500;
	margin:10px 3%;
	padding:0px;
}
.section2 button{
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
	padding:10px 25px;
	text-align:center;
	background:#2196f3;
	border-radius:5px;
	color:#FFF;
	font-size:30px;
	font-weight:400;
	border:1px solid #2196f3;
}
@media (max-width:1600px){
.section2 p{
	font-size:35px;
}
.section2 button{
	font-size:27px;
}
}
@media (max-width:1450px){
.section2 p{
	font-size:28px;
}
.section2 button{
	font-size:20px;
}
}
@media (max-width:1200px){
.section2 p{
	font-size:25px;
}
.section2 button{
	font-size:17px;
}
}
@media (max-width:1060px){
.section2 p{
	font-size:22px;
}
.section2 button{
	font-size:15px;
}
}
@media (max-width:950px){
.section2 p{
	font-size:18px;
}
}
/***### Product Review ###***/
.product_review{
	position:relative;
	padding:75px 0px;
	background:#FFF;
	clear:both;
}
.prod_rev_nav{
	position:relative;
	clear:both;
	border-bottom:1px solid #a5a5a5;
	text-align:left;
	height:50px;
}
.prod_rev_nav ul{
	margin:0px;
	padding:0px;
	text-align:left;
}
.prod_rev_nav li{
	display:inline-block;
	vertical-align:top;
	height:50px;
	line-height:50px;
	text-align:left;
	margin-left:20px;
}
.prod_rev_nav li:first-child{
	margin-left:0px;
}
li.selt_rev{
	border-bottom:2px solid #ff8400;
}
.prod_rev_nav a{
	text-decoration:none;
	border:none;
	outline:none;
	font-size:23px;
	font-weight:500;
	color:#a5a5a5;
}
.product_about{
	position:relative;
	clear:both;
	padding:50px 0px 100px 0px;
	clear:both;
	text-align:left;
}
.product_about p{
	text-align:left;
	color:#646464;
	font-size:23px;
	font-weight:300;
	margin:0px;
	padding:0px;
}
.des_arow_down{
	position:absolute;
	bottom:0px;
	right:0px;
	width:80px;
	cursor:pointer;
}
@media (max-width:1600px){
.prod_rev_nav a{
	font-size:21px;
}
.product_about p{
	font-size:21px;
}
.des_arow_down{
	width:70px;
}
}
@media (max-width:1450px){
.prod_rev_nav a{
	font-size:18px;
}
.product_about p{
	font-size:18px;
}
.des_arow_down{
	width:55px;
}
}
@media (max-width:1200px){
.prod_rev_nav a{
	font-size:16px;
}
.product_about p{
	font-size:16px;
}
}
@media (max-width:768px){
.prod_rev_nav a{
	font-size:15px;
}
.product_about p{
	font-size:15px;
}
}
@media (max-width:600px){
.prod_rev_nav a{
	font-size:3vw;
}
.prod_rev_nav li{
	margin-left:10px;
}
}
/***Review Area***/
.review_area{
	position:relative;
	padding:0px 0px 50px 0px;
	background:#FFF;
	clear:both;
}
.review_nav_star{
	position:relative;
	clear:both;
	border-bottom:1px solid #a5a5a5;
	text-align:left;
	height:50px;
}
.review_nav_star ul{
	margin:0px;
	padding:0px;
	text-align:left;
}
.review_nav_star li{
	display:inline-block;
	vertical-align:top;
	height:50px;
	line-height:50px;
	text-align:left;
	margin-left:20px;
	font-size:23px;
	font-weight:300;
	font-style:italic;
	color:#909090;
}
.review_nav_star li:first-child{
	margin-left:0px;
}
li.rev_higl{
	border-bottom:2px solid #ff8400;
}
.review_nav_star a{
	text-decoration:none;
	border:none;
	outline:none;
	font-weight:500;
	font-style:normal !important;
	color:#2196f3;
}
.revw_list_detl{
	position:relative;
	padding:50px;
	clear:both;
}
.revw_list_detl ul{
	position:relative;
	clear:both;
	margin:0px;
	padding:0px;
	list-style:none;
}
.revw_list_detl li{
	display:inline-block;
	vertical-align:top;
	width:100%;
	position:relative;
	padding:0px 0px 0px 130px;
	margin-bottom:50px;
}
.revw_list_detl li .profile-pic{
	position:absolute;
	left:0px;
}
.revw_list_detl li .profile-pic img{
	width:100px;
	height:100px;
	border-radius:50%;
}
.revi-text-det{
	position:relative;
	width:100%;
	border-bottom:1px solid #a9a9a9;
	padding:0px 0px 20px 0px;
	font-size:27px;
}
.revw_list_detl li .satrs{
	position:relative;
}
.revw_list_detl a{
	display:inline-block;
	margin-right:3px;
	outline:none;
	color:#ffdc69;
	text-decoration:none;
}
.revi-text-det h3{
	color:#282828;
	font-weight:600;
	margin:0px;
	padding:0px;
	font-size:27px;
}
.revi-text-det p{
	color:#707070;
	font-weight:300;
	margin:0px;
	padding:20px 0px;
	text-align:left;
}
.view-all{
	position:relative;
	text-align:right;
	padding:20px 0px;
}
.view-all a{
	display:inline-block;
	vertical-align:middle;
	color:#282828;
	font-size:35px;
	font-weight:500;
}
.view-all a span{
	color:#2196f3;
	display:inline-block;
	vertical-align:middle;
}
@media (max-width:1600px){
.review_nav_star li{
	font-size:21px;
}
.revw_list_detl li{
	padding:0px 0px 0px 125px;
}
.revw_list_detl li .profile-pic img{
	width:90px;
	height:90px;
}
.revi-text-det{
	font-size:23px;
}
.view-all a{
	font-size:30px;
}
.revi-text-det h3{
	font-size:25px;
}
}
@media (max-width:1450px){
.review_nav_star li{
	font-size:18px;
}
.revw_list_detl li{
	padding:0px 0px 0px 100px;
}
.revw_list_detl li .profile-pic img{
	width:75px;
	height:75px;
}
.revi-text-det{
	font-size:21px;
}
.view-all a{
	font-size:25px;
}
.revi-text-det h3{
	font-size:22px;
}
}
@media (max-width:1200px){
.review_nav_star li{
	font-size:16px;
}
.revw_list_detl li{
	padding:0px 0px 0px 85px;
}
.revw_list_detl li .profile-pic img{
	width:60px;
	height:60px;
}
.revi-text-det{
	font-size:18px;
}
.view-all a{
	font-size:20px;
}
.revi-text-det h3{
	font-size:20px;
}
}
@media (max-width:1024px){
.review_nav_star li{
	font-size:15px;
}
.revw_list_detl li{
	padding:0px 0px 0px 75px;
}
.revw_list_detl li .profile-pic img{
	width:50px;
	height:50px;
}
.revi-text-det{
	font-size:16px;
}
.view-all a{
	font-size:18px;
}
}
@media (max-width:767px){
.revw_list_detl{
	padding:50px 0px 0px 0px;
}
.revi-text-det{
	font-size:14px;
}
.view-all a{
	font-size:16px;
}

}
/***### More Product ###***/
.more_product{
	position:relative;
	padding:75px 0px;
	background:#f9f9f9;
	clear:both;
}
.more_product h2{
	color:#282828;
	font-size:35px;
	font-weight:600;
	margin:0px;
	padding:0px;
	text-align:left;
	display:inline-block;
	vertical-align:top;
}
.more_product .arrows{
	position:relative;
	float:right;
	text-align:right;
}
.more_product .arrows button{
	display:inline-block;
	vertical-align:top;
	margin-left:5px;
	outline:none;
	border:none;
	background:none;
	cursor:pointer;
	width:52px;
}
.product-slider{
	position:relative;
	margin-top:40px;
}
.prod-slide-box{
	border:1px solid #e4e4e4;
	padding:20px;
	position:relative;
	background:#FFF;
}
.prod-slide-box .watch-pic{
	position:relative;
	width:100%;
	text-align:center;
	line-height:300px;
}
.prod-slide-box .watch-pic img{
	display:inline-block;
	vertical-align:middle;
	max-width:250px;
	width:100%;
}
.prod-slide-box .watch-details{
	position:relative;
	padding:20px 0px;
	text-align:center;
	border-bottom:1px solid #c7c7c7;
}
.prod-slide-box .watch-details h3{
	color:#7a7a7a;
	font-size:20px;
	font-weight:400;
	margin:0px;
	padding:0px;
	text-align:center;
}
.prod-slide-box .watch-details h4{
	color:#282828;
	font-size:25px;
	font-weight:500;
	margin:0px;
	padding:20px 0px;
	text-align:center;
}
.prod-slide-box .watch-details h5{
	color:#2196f3;
	font-size:38px;
	font-weight:600;
	margin:0px;
	padding:0px;
	text-align:center;
}
.prod-slide-box .watch-details h5 span{
	color:#6d6d6d;
	font-size:25px;
	text-decoration:line-through;
}
.prod-slide-box  .bottom{
	position:relative;
	text-align:center;
}
.prod-slide-box  .bottom a{
	display:block;
	color:#282828;
	padding:20px 0px 0px 0px;
	font-size:25px;
	font-weight:300;
	width:100%;
}
.prod-slide-box  .bottom a span{
	color:#2196f3;
}
@media (max-width:1650px){
.more_product h2{
	font-size:32px;
}
.prod-slide-box .watch-details h3{
	font-size:17px;
}
.prod-slide-box .watch-details h4{
	font-size:20px;
}
.prod-slide-box .watch-details h5{
	font-size:30px;
}
.prod-slide-box .watch-details h5 span{
	font-size:23px;
}
.prod-slide-box .bottom a{
	font-size:23px;
}
}
@media (max-width:1450px){
.more_product h2{
	font-size:28px;
}
.prod-slide-box .watch-details h3{
	font-size:15px;
}
.prod-slide-box .watch-details h4{
	font-size:16px;
}
.prod-slide-box .watch-details h5{
	font-size:28px;
}
.prod-slide-box .watch-details h5 span{
	font-size:21px;
}
.prod-slide-box  .bottom a{
	font-size:18px;
}
}
@media (max-width:1170px){
.more_product h2{
	font-size:25px;
}
.prod-slide-box .watch-details h3{
	font-size:15px;
}
.prod-slide-box .watch-details h4{
	font-size:15px;
}
.prod-slide-box .watch-details h5{
	font-size:25px;
}
.prod-slide-box .watch-details h5 span{
	font-size:16px;
}
.prod-slide-box .bottom a{
	font-size:16px;
}
}
@media (max-width:480px){
.more_product .arrows button{
	width:35px;
}
}
/***Header***/

#header {
	padding:15px 0px;
	box-shadow:0px 0px 4px 0px rgba(0,0,0,0.5);
	position:relative;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background:#fff;
}

.navbar-default {
	background:#fff;
	min-height:90px;
	border:none;
	border-radius:0px;
	margin:0px;
}

.navbar-brand {
	height:90px;
	padding:2px 15px;
}

.navbar-brand img {
	display:inline-block;
	max-width:90px;
}

.navbar-right {
	margin-right:0px;
}

.navbar-nav>li {
	margin-top:20px;
}

.navbar-nav>li>a {
	color:#fff;
}

.navbar-default .navbar-nav>li>a {
	color:#171717;
	font-size:17px;
	font-weight:300;
	font-family: 'Poppins', sans-serif;
	border-radius:3px;
	padding:13px 15px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ccc;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a.eng {
	color:#5e5e5e;
	background:#dadada;
	font-family: 'Poppins', sans-serif;
}

#header .dropdown-menu {
	padding:0px;
}

#header .dropdown-menu>li>a {
	padding:11px 17px;
}

#header .dropdown-menu>li>a>img {
	margin-right:5px;
}
@media only screen and (min-width: 767px) {
.navbar-default .navbar-nav>li.dropdown:hover>.dropdown-menu {
	display:block;
}
}
/****Top Block***/
.top_block{
	margin-top:125px;
}
@media (max-width:1600px){
.top_block{
	margin-top:108px;
}
}
@media (max-width:1450px){
.top_block{
	margin-top:100px;
}
}
@media (max-width:1200px){
.top_block{
	margin-top:99px;
}
}
@media (max-width:991px){
.top_block{
	margin-top:95px;
}
}
/***### Banner ###***/
.banner_area{
	position:relative;
	background:url(../images/yellow-bar.png) no-repeat top left;
	background-size:contain;
}
.banner_area .slick-dots{
	position:absolute;
	right:-20px;
	width:50px;
	height:100px;
	top:45%;
	z-index:10;
	background:#100%;
}
.banner_area .slick-dots li{
	border:1px solid #282828;
	background:#FFF;
	border-radius:50%;
}
.banner_area .slick-dots li.slick-active{
	background:#282828;
	border:1px solid #282828;
}
.baner-img{
	position:relative;
	text-align:left;
	padding:10% 0px;
}
.baner-img img{
	width:65%;
	max-width:453px;
	display:inline-block;
	vertical-align:top;
}
.banner-left{
	position:relative;
	padding:15% 0px;
	text-align:left;
}
.banner-left h2{
	color:#282828;
	font-size:70px;
	font-weight:900;
	margin:0px;
	padding:0px;
}
.banner-left h2 .span1{
	color:#ffa800;
}
.banner-left h2 .span2{
	color:#2196f3;
}
.banner-left p{
	font-weight:300;
	padding:10px 0px 75px 0px;
	margin:0px;
	text-align:left;
	color:#282828;
	font-size:35px;
}
.banner-left .btns-top{
	position:relative;
	text-align:left;
}
.banner-left .btns-top button{
	padding:15px 25px;
	border-radius:50px;
	text-align:center;
	outline:none;
	cursor:pointer;
	margin-right:20px;
	color:#ffffff;
	font-size:25px;
	font-weight:500;
}
.banner-left .btns-top button .line{
	color:#1162a3;
}
.banner-left .btns-top button.cart-btn{
	background:#2196f3;
	border:1px solid #2196f3;
}
.banner-left .btns-top button.play-btn{
	background:#282828;
	border:1px solid #282828;
}
@media (max-width:1600px){
.banner-left h2{
	font-size:60px;
}
.banner-left p{
	font-size:30px;
}
.banner-left .btns-top button{
	margin-right:18px;
	font-size:23px;
}
}
@media (max-width:1450px){
.banner-left h2{
	font-size:50px;
}
.banner-left p{
	font-size:25px;
}
.banner-left .btns-top button{
	margin-right:15px;
	font-size:20px;
}
}
@media (max-width:1200px){
.banner-left h2{
	font-size:40px;
}
.banner-left p{
	font-size:18px;
}
.banner-left .btns-top button{
	margin-right:10px;
	font-size:18px;
	padding:10px 25px;
}
}
@media (max-width:1024px){
.baner-img{
	text-align:center;
}
.banner-left h2{
	font-size:35px;
}
.banner-left p{
	font-size:16px;
}
.banner-left .btns-top button{
	margin-right:10px;
	font-size:16px;
}
}
@media (max-width:767px){
.banner_area{
	background:#FFF;
}
.baner-img{
	text-align:center;
	padding:50px 0px;
}
.baner-img img{
	max-width:200px;
}
.banner-left{
	padding:0px 0px 50px 0px;
}
}

@media (max-width:480px){
.banner-left h2{
	font-size:25px;
}
.banner-left p{
	font-size:15px;
}
.banner-left .btns-top button{
	margin-right:5px;
	font-size:15px;
	padding:10px 15px;
}
}
@media (max-width:414px){
.banner-left .btns-top button{
	font-size:12px;
}
}
/***### About Company ###***/
.about_company{
	position:relative;
	clear:both;
	background:#FFF;
	padding:75px 0px;
}
.about_company h1{
	color:#000;
	font-weight:300;
	margin:0px 0px 50px 0px;
	padding:0px;
	text-align:center;
	text-transform:uppercase;
}
.about_company h1 span{
	font-weight:700;
	color:#2196f3;
}
.abt_box_comp{
	position:relative;
	padding:30px;
	margin-bottom:30px;
	background:#FFF;
	cursor:pointer;
}
.about_company_iner{
	position:relative;/*
	background:#eeeeee;*/
	background:#00008b;
	padding:75px 0px 75px 0px;
}
.about_company_iner ul{
	margin:0px;
	padding:0px;
	list-style:none;
	text-align:left;
	background:#FFF;
}
.about_company_iner li{
	position:relative;
	display:inline-block;
	vertical-align:top;
	width:100%;
	background:#FFF;
	padding:10px 0px 10px 35px;
	background-size:30px;
	color:#00008b;
	font-size:33px;
	font-weight:300;
	cursor:pointer;
}
.about_company_iner li:before {
    position: absolute;
    font-family: 'FontAwesome';
    top: 10px;
	font-size:25px;
    left: 0px;
	color:#00008b;
    content: "\f111";
	font-style:normal;
	font-weight:bold;
}
.abt_box_comp:hover{
	background:#2196f3;
}
.abt_box_comp:hover li{
	background:#2196f3;
	color:#FFF;
}
.abt_box_comp:hover li:before{
	color:#ffffff;
}
.about_company_iner li:hover{
	background:#2196f3;
	color:#ffffff;
}
.about_company_iner li:hover:before{
	color:#ffffff;
}
@media (max-width:1600px){
.about_company_iner li{
	font-size:23px;
	padding:10px 0px 10px 30px;
}
.about_company_iner li:before {
    top: 12px;
	font-size:20px;
}
}
@media (max-width:1450px){
.about_company_iner li{
	font-size:20px;
	padding:10px 0px 10px 25px;
}
.about_company_iner li:before {
    top: 12px;
	font-size:18px;
}
}
@media (max-width:1200px){
.about_company_iner li{
	font-size:18px;
}
}
@media (max-width:1080px){
.abt_box_comp{
	padding:18px;
	height:100px;
}
.about_company_iner li{
	font-size:15px;
}
}
@media (max-width:767px){
.about_company{
	padding:50px 0px;
}
.about_company_iner{
	padding:50px 0px;
}
.about_company h1{
	margin-bottom:40px;
}
.abt_box_comp{
	height:auto;
	min-height:95px;
}
}
/***### Video ###***/
.video_wrap{
	position:relative;
	width:100%;
	clear:both;
	padding:0px;
}
.video_wrap img{
	width:100%;
	max-height:787px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 39.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/***### Why Choose ###***/
.why_choose{
	position:relative;
	clear:both;
	background:#FFF;
	padding:75px 0px;
}
.why_choose h1{
	color:#000;
	font-weight:300;
	margin:0px 0px 50px 0px;
	padding:0px;
	text-align:center;
	text-transform:uppercase;
}
.why_choose h1 span{
	font-weight:700;
	color:#2196f3;
}
.why-main-img{
	position:relative;
	margin:10% auto 0px auto;
	padding:7% 0px 0px 0px;
	display:block;
	width:55%;
	font-size:33px;
	font-weight:400;
	color:#000000;
}
.why-main-img span{
	color:#2196f3;
	font-weight:700;
}
.why-main-img img{
	width:100%;
}
.why-main-img .box1{
	position:absolute;
	left:0px;
	width:100%;
	text-align:center;
	top:0px;
}
.why-main-img .box2{
	position:absolute;
	left:-28%;
	text-align:right;
	top:32%;
}
.why-main-img .box22{
	right:-35%;
	left:auto;
	text-align:left;
}
.why-main-img .box3{
	position:absolute;
	left:-31%;
	text-align:right;
	top:74.5%;
}
.why-main-img .box33{
	right:-35%;
	left:auto;
	text-align:left;
}
@media (max-width:1600px){
.why-main-img{
	font-size:27px;
}
}
@media (max-width:1450px){
.why-main-img{
	font-size:23px;
}
}
@media (max-width:1200px){
.why-main-img{
	font-size:20px;
}
}
@media (max-width:1024px){
.why-main-img{
	font-size:16px;
}
}
@media (max-width:767px){
.why_choose{
	padding:50px 0px;
}
.why-main-img{
	font-size:2vw;
}
.why_choose h1{
	margin:0px;
}
}
/***### Best Watch ###***/
.best_watch{
	position:relative;
	background:#FFF;
	clear:both;
	padding:50px 0px 0px 0px;
}
.best_watch h1{
	color:#000;
	font-weight:300;
	margin:0px 0px 50px 0px;
	padding:0px;
	text-align:center;
	text-transform:uppercase;
}
.best_watch h1 span{
	font-weight:700;
	color:#2196f3;
}
.best_watch_iner{
	background:#131c21;
	position:relative;
	padding:75px 15px;
}
.best_watch_img{
	position:relative;
	text-align:center;
	width:100%;
	margin-right:75px;
}
.best_watch_img img{
	display:inline-block;
	vertical-align:top;
	width:75%;
	max-width:477px;
}
.best_watch_left{
	position:relative;
	width:100%;
	text-align:left;
}
.best_watch_top{
	position:relative;
	width:100%;
	text-align:left;
	padding:20px 0px;
}
.best_watch_top .drops{
	position:absolute;
	bottom:-100px;
	width:100%;
	left:0px;
}
.best_watch_top .drops img{
	display:inline-block;
	vertical-align:top;
	width:20px;
}
.best_watch_top ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.best_watch_top li{
	position:relative;
	display:inline-block;
	width:100px;
	height:100px;
	margin-right:20px;
	background:#FFF;
	border-radius:5px;
	padding:0px 15px;
	text-align:center;
	line-height:100px;
}
.best_watch_top li img{
	display:inline-block;
	vertical-align:middle;
}
.best_watch_left h2{
	color:#FFF;
	font-size:45px;
	font-weight:700;
	margin:70px 0px 0px 25px;
	padding:20px 0px;
	text-align:left;
}
.best_watch_botm ul{
	position:relative;
	margin:30px 0px 0px 0px;
	padding:0px;
	text-align:left;
	list-style:none;
}
.best_watch_botm li{
	position:relative;
	display:inline-block;
	vertical-align:top;
	width:100%;
	padding:10px 0px 10px 25px;
	background-size:30px;
	color:#2196f3;
	font-size:29px;
	font-weight:300;
}
.best_watch_botm li:before {
    position: absolute;
    font-family: 'FontAwesome';
    top: 7px;
	font-size:35px;
    left: 0px;
	color:#FFF;
    content: "\f105";
	font-style:normal;
	font-weight:bold;
}
@media (max-width:1650px){
.best_watch_top .drops{
	bottom:-90px;
}
.best_watch_top .drops img{
	width:15px;
}
.best_watch_top li{
	width:80px;
	height:80px;
	margin-right:15px;
	line-height:80px;
}
.best_watch_left h2{
	font-size:38px;
	margin:70px 0px 0px 20px;
}
.best_watch_botm li{
	font-size:27px;
}
.best_watch_botm li:before {
    top: 5px;
	font-size:30px;
}
}
@media (max-width:1450px){
.best_watch_top .drops{
	bottom:-50px;
}
.best_watch_top .drops img{
	width:12px;
}
.best_watch_top li{
	width:65px;
	height:65px;
	margin-right:10px;
	line-height:65px;
}
.best_watch_left h2{
	font-size:33px;
	margin:20px 0px 0px 15px;
}
.best_watch_botm ul{
	margin-top:10px;
}
.best_watch_botm li{
	font-size:23px;
}
.best_watch_botm li:before {
    top: 6px;
	font-size:27px;
}
}
@media (max-width:1200px){
.best_watch_top .drops{
	bottom:-50px;
}
.best_watch_top .drops img{
	width:12px;
}
.best_watch_top li{
	width:50px;
	height:50px;
	margin-right:10px;
	line-height:50px;
}
.best_watch_left h2{
	font-size:27px;
}
.best_watch_botm ul{
	margin-top:10px;
}
.best_watch_botm li{
	font-size:20px;
}
.best_watch_botm li:before {
    top: 6px;
	font-size:25px;
}
}
@media (max-width:1024px){
.best_watch_top .drops{
	bottom:-50px;
}
.best_watch_top li{
	width:45px;
	height:45px;
	margin-right:10px;
	line-height:45px;
	padding:0px 12px;
}
.best_watch_left h2{
	font-size:23px;
	padding-bottom:0px;
}
.best_watch_botm li{
	font-size:18px;
}
.best_watch_botm li:before {
    top: 6px;
	font-size:25px;
}
}
@media (max-width:767px){
.best_watch_img img{
	padding:50px 0px;
	max-width:250px;
}
}
@media (max-width:480px){
.best_watch_top li{
	width:40px;
	height:40px;
	line-height:40px;
	margin-right:5px;
}
}
/***### Durable Long ###***/
.durable_long{
	position:relative;
	background:#FFF;
	clear:both;
	padding:50px 0px 100px 0px;
}
.durable_long h1{
	color:#000;
	font-weight:300;
	margin:0px;
	padding:0px;
	text-align:center;
	text-transform:uppercase;
}
.durable_long h1 span{
	font-weight:700;
	color:#2196f3;
}
.durable_long_img{
	position:relative;
	text-align:center;
	width:100%;
	margin-right:75px;
}
.durable_long_img img{
	display:inline-block;
	vertical-align:top;
	width:75%;
	padding-top:13%;
	max-width:700px;
}
.durable_long_left{
	position:relative;
	margin-top:75px;
	width:100%;
	text-align:left;
}
.durable_long_top{
	position:relative;
	width:100%;
	text-align:left;
	padding:20px 0px;
}
.durable_long_top .drops{
	position:absolute;
	bottom:-100px;
	width:100%;
	left:0px;
}
.durable_long_top .drops img{
	display:inline-block;
	vertical-align:top;
	width:20px;
}
.durable_long_top ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.durable_long_top li{
	position:relative;
	display:inline-block;
	width:100px;
	height:100px;
	margin-right:20px;
	background:#131c21;
	border-radius:5px;
	padding:0px 15px;
	text-align:center;
	line-height:100px;
}
.durable_long_top li img{
	display:inline-block;
	vertical-align:middle;
}
.durable_long_left h2{
	color:#282828;
	font-size:45px;
	font-weight:700;
	margin:70px 0px 0px 25px;
	padding:20px 0px;
	text-align:left;
}
.durable_long_botm ul{
	position:relative;
	margin:30px 0px 0px 0px;
	padding:0px;
	text-align:left;
	list-style:none;
}
.durable_long_botm li{
	position:relative;
	display:inline-block;
	vertical-align:top;
	width:100%;
	padding:10px 0px 10px 25px;
	background-size:30px;
	color:#333333;
	font-size:29px;
	font-weight:300;
}
.durable_long_botm li:before {
    position: absolute;
    font-family: 'FontAwesome';
    top: 7px;
	font-size:35px;
    left: 0px;
	color:#4a5054;
    content: "\f105";
	font-style:normal;
	font-weight:bold;
}
@media (max-width:1650px){
.durable_long_top .drops{
	bottom:-90px;
}
.durable_long_top .drops img{
	width:15px;
}
.durable_long_top li{
	width:80px;
	height:80px;
	margin-right:15px;
	line-height:80px;
}
.durable_long_left h2{
	font-size:38px;
	margin:70px 0px 0px 20px;
}
.durable_long_botm li{
	font-size:27px;
}
.durable_long_botm li:before {
    top: 5px;
	font-size:30px;
}
}
@media (max-width:1450px){
.durable_long_top .drops{
	bottom:-50px;
}
.durable_long_top .drops img{
	width:12px;
}
.durable_long_top li{
	width:65px;
	height:65px;
	margin-right:10px;
	line-height:65px;
}
.durable_long_left h2{
	font-size:33px;
	margin:20px 0px 0px 15px;
}
.durable_long_botm ul{
	margin-top:10px;
}
.durable_long_botm li{
	font-size:23px;
}
.durable_long_botm li:before {
    top: 6px;
	font-size:27px;
}
}
@media (max-width:1200px){
.durable_long_top li{
	width:50px;
	height:50px;
	margin-right:10px;
	line-height:50px;
}
.durable_long_left h2{
	font-size:27px;
	margin:20px 0px 0px 15px;
}
.durable_long_botm ul{
	margin-top:10px;
}
.durable_long_botm li{
	font-size:20px;
}
.durable_long_botm li:before {
	font-size:25px;
}
}
@media (max-width:1024px){
.durable_long_top li{
	width:45px;
	height:45px;
	margin-right:10px;
	line-height:45px;
	padding:0px 12px;
}
.durable_long_left h2{
	font-size:23px;
}
.durable_long_botm li{
	font-size:18px;
}
.durable_long_botm li:before {
	font-size:25px;
}
.durable_long_img img{
	padding-top:100px;
}
}
@media (max-width:767px){
.durable_long{
	padding:50px 0px;
}
.durable_long_left{
	margin-top:20px;
}
.durable_long_img{
	margin:0px;
}
.durable_long_img img{
	max-width:300px;
	padding:0px;
	margin:50px 0px 0px 0px;
}
}
@media (max-width:1024px){
.durable_long_top li{
	width:40px;
	height:40px;
	margin-right:0px;
	line-height:40px;
}
}
/***### Felexible Services ###***/
.flexi_service{
	position:relative;
	background:#FFF;
	clear:both;
	padding:75px 0px;
}
.flexi_service h1{
	color:#000;
	font-weight:300;
	margin:0px;
	padding:0px;
	text-align:center;
	text-transform:uppercase;
}
.flexi_service h1 span{
	font-weight:700;
	color:#2196f3;
}
.flex1-img{
	position:absolute;
	left:0px;
	margin-top:-12%;
	width:100%;
	text-align:center;
}
.flex1-img img{
	width:20%;
	display:inline-block;
	vertical-align:middle;
}
.flex1_boxes{
	position:relative;
	padding:3%;
	width:40%;
	border:1px solid #8a8a8a;
	margin:7% 0px;
}
.flex1_boxes .counter{
	position:absolute;
	top:-25px;
	right:-15px;
	width:50px;
	height:50px;
	color:#FFF;
	background:#2196f3;
	border-radius:50%;
	line-height:50px;
	font-size:25px;
	font-weight:700;
	text-align:center;
}
.flex1_boxes h2{
	color:#2196f3;
	font-weight:600;
	margin:0px;
	padding:0px;
	font-size:33px;
}
.flex1_boxes ul{
	position:relative;
	margin:30px 0px 0px 0px;
	padding:0px;
	text-align:left;
	list-style:none;
}
.flex1_boxes li{
	position:relative;
	display:inline-block;
	vertical-align:top;
	width:100%;
	padding:10px 0px 10px 35px;
	background-size:30px;
	color:#333333;
	font-size:27px;
	font-weight:300;
}
.flex1_boxes li:before {
    position: absolute;
    font-family: 'FontAwesome';
    top: 10px;
	font-size:25px;
    left: 0px;
	color:#2196f3;
    content: "\f111";
	font-style:normal;
	font-weight:bold;
}
@media (max-width:1600px){
.flex1_boxes h2{
	font-size:29px;
}
.flex1_boxes li{
	font-size:23px;
	padding:10px 0px 10px 30px;
}
.flex1_boxes li:before {
    top: 12px;
	font-size:20px;
}
}
@media (max-width:1450px){
.flex1_boxes h2{
	font-size:25px;
}
.flex1_boxes li{
	font-size:20px;
	padding:10px 0px 10px 25px;
}
.flex1_boxes li:before {
    top: 12px;
	font-size:18px;
}
}
@media (max-width:1200px){
.flex1_boxes h2{
	font-size:22px;
}
.flex1_boxes li{
	font-size:18px;
}
}
@media (max-width:1024px){
.flex1_boxes h2{
	font-size:20px;
}
.flex1_boxes li{
	font-size:16px;
}
}
@media (max-width:767px){
.flex1-img{
	position:relative;
	margin:0px;
	padding:0px;
	padding:50px 0px 30px 0px;
}
.flex1-img img{
	max-width:200px;
	width:100%;
}
.flexi_service{
	padding:50px 0px;
}
.flex1_boxes{
	width:100%;
	padding:50px 3%;
	margin:30px 0px;
}
.flex1_boxes .counter{
	left:-5px;
	right:auto;
}
}
/***### Safty and Health ###***/
.safty_health{
	position:relative;
	background:#FFF;
	clear:both;
	padding:75px 0px;
}
.safty_health h1{
	color:#000;
	font-weight:300;
	margin:0px;
	padding:0px;
	text-align:center;
	text-transform:uppercase;
}
.safty_health h1 span{
	font-weight:700;
	color:#2196f3;
}
.safty_list{
	margin-top:75px;
}
.safty_img{
	position:relative;
	width:100%;
	text-align:center;
}
.safty_img img{
	display:inline-block;
	vertical-align:middle;
	width:70%;
	max-width:360px;
}
.safty_boxes{
	position:relative;
	padding:10%;
	width:100%;
	border:1px solid #c4c4c4
}
.safty_boxes .arrow-left {
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent; 
  border-right:30px solid #dedede;
  position:absolute;
  left:-30px;
  top:44%;
}
.safty_boxes .arrow-right {
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent; 
  border-left:30px solid #dedede;
  position:absolute;
  right:-30px;
  top:44%;
}
.safty_boxes h2{
	color:#2196f3;
	font-weight:700;
	margin:0px;
	padding:0px;
	font-size:55px;
}
.safty_boxes ul{
	position:relative;
	margin:30px 0px 0px 0px;
	padding:0px;
	text-align:left;
	list-style:none;
}
.safty_boxes li{
	position:relative;
	display:inline-block;
	vertical-align:top;
	width:100%;
	padding:10px 0px 10px 25px;
	background-size:30px;
	color:#333333;
	font-size:27px;
	font-weight:300;
	font-style:italic;
}
.safty_boxes li:before {
    position: absolute;
    font-family: 'FontAwesome';
    top: 7px;
	font-size:35px;
    left: 0px;
	color:#2196f3;
    content: "\f105";
	font-style:normal;
	font-weight:bold;
}
.sos-img{
	margin-top:100px;
}
.geo-img{
	margin-top:50px;
}
@media (max-width:1600px){
.safty_boxes h2{
	font-size:48px;
}
.safty_boxes li{
	font-size:25px;
}
.safty_boxes li:before {
    top: 5px;
	font-size:32px;
}
}
@media (max-width:1450px){
.safty_boxes h2{
	font-size:38px;
}
.safty_boxes li{
	font-size:22px;
}
.safty_boxes li:before {
    top: 2px;
	font-size:30px;
}
}
@media (max-width:1200px){
.safty_boxes h2{
	font-size:30px;
}
.safty_boxes li{
	font-size:18px;
}
.safty_boxes li:before {
    top: 6px;
	font-size:25px;
}
}
@media (max-width:1024px){
.safty_boxes h2{
	font-size:25px;
}
.safty_boxes li{
	font-size:16px;
}
.safty_boxes li:before {
    top: 2px;
}
}
@media (max-width:767px){
.safty_health .pull-right{
	width:100%;
}
.sos-img{
	margin-top:100px;
}
.geo-img{
	margin-top:50px;
}
.safty_boxes{
	float:left;
	width:100%;
	padding:30px;
}
.safty_boxes .arrow-right{
	top:-60px;
	left:44.5%;	
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #dedede;
}
.safty_boxes .arrow-left{
	top:-60px;
	left:44.5%;	
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #dedede;
}
}
@media (max-width:480px){
.safty_boxes h2{
	font-size:20px;
}
.safty_boxes .arrow-right{
	left:43.5%;	
}
.safty_boxes .arrow-left{
	left:43.5%;	
}
}
/***### Price Performance ###***/
.price_performance{
	position:relative;
	background:#FFF;
	clear:both;
	padding:75px 0px;
}
.price_performance h1{
	color:#000;
	font-weight:300;
	margin:0px;
	padding:0px;
	text-align:center;
	text-transform:uppercase;
}
.price_performance h1 span{
	font-weight:700;
	color:#2196f3;
}
.price_performance h2{
	color:#2196f3;
	font-size:175px;
	line-height:175px;
	text-align:center;
	margin:10px 0px 0px 0px;
	font-weight:300;
}
.price_performance p{
	color:#000000;
	font-size:30px;
	font-weight:300;
	padding:0px 0px 30px 0px;
	text-align:center;
	margin:-60px 0px 0px 0px;
}
@media (max-width:1600px){
.price_performance h2{
	font-size:150px;
	line-height:150px;
}
.price_performance p{
	font-size:27px;
}
}
@media (max-width:1450px){
.price_performance h2{
	font-size:100px;
	line-height:100px;
}
.price_performance p{
	font-size:23px;
}
}
@media (max-width:1024px){
.price_performance p{
	font-size:20px;
}
}
@media (max-width:767px){
.price_performance p{
	font-size:18px;
}
}
/***### Advantages ###***/
.advantages{
	position:relative;
	clear:both;
	background:#131c21;
	padding:0px;
}
.advantages h2{
	position:absolute;
	top:-25px;
	left:0px;
	background:#2196f3;
	text-align:center;
	font-size:27px;
	line-height:60px;
	font-weight:300;
	padding:0px 60px;
	border-radius:50px;
	height:60px;
	color:#FFF;
	margin:0px;
}
.advantages-main-img{
	position:relative;
	margin:10% auto;
	padding:7% 5%;
	display:block;
	width:50%;
	font-size:30px;
	font-weight:500;
	color:#FFF;
}
.advantages-main-img img{
	width:100%;
}
.advantages-main-img .box1{
	position:absolute;
	left:0px;
	width:100%;
	text-align:center;
	top:0px;
}
.advantages-main-img .box2{
	position:absolute;
	left:0px;
	text-align:center;
	top:15%;
}
.advantages-main-img .box22{
	right:0px;
	left:auto;
}
.advantages-main-img .box3{
	position:absolute;
	left:-17%;
	text-align:center;
	top:35%;
}
.advantages-main-img .box33{
	right:-19%;
	left:auto;
}
.advantages-main-img .box4{
	position:absolute;
	left:-21%;
	text-align:center;
	top:55%;
}
.advantages-main-img .box44{
	right:-17%;
	left:auto;
}
.advantages-main-img .box5{
	position:absolute;
	left:0px;
	text-align:center;
	bottom:15%;
}
.advantages-main-img .box55{
	right:-8%;
	left:auto;
}
.advantages-main-img .box6{
	position:absolute;
	left:0px;
	width:100%;
	text-align:center;
	bottom:0px;
}
@media (max-width:1600px){
.advantages-main-img{
	font-size:27px;
}
.advantages h2{
	font-size:25px;
}
}
@media (max-width:1450px){
.advantages-main-img{
	font-size:23px;
}
.advantages h2{
	font-size:23px;
}
}
@media (max-width:1200px){
.advantages-main-img{
	font-size:20px;
}
.advantages h2{
	font-size:20px;
	padding:0px 50px;
	height:50px;
	margin-left:15px;
}
}
@media (max-width:1024px){
.advantages-main-img{
	font-size:18px;
}
.advantages h2{
	font-size:18px;
	padding:0px 40px;
	margin-left:15px;
}
}
@media (max-width:1024px){
.advantages-main-img{
	font-size:1.6vw;
}
}
@media (max-width:767px){
.advantages-main-img{
	margin:80px auto;
}
}
/***### Google Reveiw ###***/
.google_reveiw{
	position:relative;
	background:#FFF;
	clear:both;
	padding:75px 0px;
}
.google_reveiw .arrows{
	position:absolute;
	right:0px;
	top:0px;
	float:right;
	text-align:right;
}
.google_reveiw .arrows button{
	display:inline-block;
	vertical-align:top;
	margin-left:5px;
	outline:none;
	border:none;
	background:none;
	cursor:pointer;
	width:52px;
}
.google_reveiw h1{
	color:#282828;
	font-weight:300;
	margin:0px;
	padding:0px;
	text-align:center;
	text-transform:uppercase;
}
.google_reveiw h1 span{
	font-weight:700;
	color:#2196f3;
}
.google_reveiw p{
	color:#515151;
	font-size:30px;
	font-weight:300;
	padding:30px 0px;
	text-align:center;
}
.reveiw_google_slider{
	position:relative;
	clear:both;
	padding:50px 0px 0px 0px;
	text-align:left;
}
.reveiw_google_slider .boxes{
	position:relative;
	margin-bottom:50px;
	padding:0px 0px 0px 150px;
}
.reveiw_google_slider .boxes .profile-img{
	position:absolute;
	left:0px;
	width:120px;
}
.slick-slide {
	outline:none !important;
}
.reveiw_google_slider .boxes .profile-img img{
	width:120px;
	height:120px;
	border-radius:50%;
	border:1px solid #c6c6c6;
}
.reveiw_google_slider .boxes h3{
	color:#282828;
	margin:0px;
	padding:0px;
	text-align:left;
	font-size:30px;
	font-weight:600;
}
.reveiw_google_slider .boxes .star{
	position:relative;
	text-align:left;
	padding:10px 0px;
}
.reveiw_google_slider .boxes .star span{
	cursor:pointer;
	color:#fed144;
	font-size:30px;
	font-weight:500;
}
.reveiw_google_slider .boxes h4{
	color:#616161;
	font-weight:300;
	font-size:25px;
	line-height:28px;
	margin:0px;
	padding:0px;
	text-align:left;
}
@media (max-width:1600px){
.google_reveiw p{
	font-size:27px;
}
.reveiw_google_slider .boxes{
	padding:0px 0px 0px 140px;
}
.reveiw_google_slider .boxes .profile-img{
	width:110px;
}
.reveiw_google_slider .boxes .profile-img img{
	width:110px;
	height:110px;
}
.reveiw_google_slider .boxes h3{
	font-size:25px;
}
.reveiw_google_slider .boxes .star span{
	font-size:27px;
}
.reveiw_google_slider .boxes h4{
	font-size:23px;
}
}
@media (max-width:1450px){
.google_reveiw p{
	font-size:23px;
}
.reveiw_google_slider .boxes{
	padding:0px 0px 0px 130px;
}
.reveiw_google_slider .boxes .profile-img{
	width:100px;
}
.reveiw_google_slider .boxes .profile-img img{
	width:100px;
	height:100px;
}
.reveiw_google_slider .boxes h3{
	font-size:20px;
}
.reveiw_google_slider .boxes .star span{
	font-size:23px;
}
.reveiw_google_slider .boxes h4{
	font-size:18px;
}

}

@media (max-width:1450px){
.google_reveiw p{
	font-size:20px;
}
.reveiw_google_slider .boxes h3{
	font-size:18px;
}
.reveiw_google_slider .boxes .star span{
	font-size:20px;
}
.reveiw_google_slider .boxes h4{
	font-size:16px;
}

}
@media (max-width:480px){
.google_reveiw .arrows{
	top:-50px;
	right:15px;
}
.google_reveiw .arrows button{
	width:40px;
}
}
/***### Our Clients ###***/
.our_clients{
	position:relative;
	background:#FFF;
	clear:both;
}
.our_clients h1{
	color:#282828;
	font-weight:300;
	margin:0px;
	padding:50px 0px;
	text-align:center;
	text-transform:uppercase;
}
.our_clients h1 span{
	font-weight:700;
	color:#2196f3;
}
.our_brands{
	position:relative;
	text-align:center;
	padding:50px 0px;
	border-top:1px solid #c1c1c1;
	border-bottom:1px solid #c1c1c1;
	margin-bottom:75px;
}
.our_brands ul{
	margin:0px;
	padding:0px;
	text-align:center;
	list-style:none;
}
.our_brands li{
	float:none;
	display:inline-block !important;
	vertical-align:middle !important;
	width:18%;
}
.our_brands a{
	text-decoration:none;
}
.our_brands li img{
	display:inline-block !important;
	vertical-align:middle !important;
	width:100%;
	max-width:60%;
}
.our_clients .arrows{
	position:absolute;
	right:0px;
	top:40px;
	float:right;
	text-align:right;
}
.our_clients .arrows button{
	display:inline-block;
	vertical-align:top;
	margin-left:5px;
	outline:none;
	border:none;
	background:none;
	cursor:pointer;
	width:52px;
}
@media (max-width:767px){
.our_brands{
	padding:30px 0px;
	margin-bottom:30px;
}
}
@media (max-width:480px){
.our_clients .arrows{
	top:0px;
	right:15px;
}
.our_clients .arrows button{
	width:40px;
}
}
/***### Footer ###***/
footer{
	background:#2196f3;
	position:relative;
	padding:0px;
	text-align:center;
}
footer p{
	color:#ffffff;
	font-size:25px;
	font-weight:300;
	margin:0px;
	padding:30px 0px;
	text-align:center;
}
@media (max-width:1600px){
footer p{
	padding:25px 0px;
	font-size:23px;
}
}
@media (max-width:1450px){
footer p{
	padding:20px 0px;
	font-size:20px;
}
}
@media (max-width:1024px){
footer p{
	font-size:18px;
}
}
@media (max-width:767px){
footer p{
	padding:15px 0px;
	font-size:15px;
}
}
